*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg, #4f8ef3 0%, #c2e9fb 100%);
}
.form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 1%;
}
.form{
    width: 100%;
    height: 450px;
    background-color: whitesmoke;
    padding: 40px;
}
.form_input{
    margin-bottom: 30px;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
    color: hsl(240, 33%, 95%);
}
footer{
    text-align: center;
}